.container-not-found {
  margin: auto;
  display: grid;
  text-align: center;
  justify-items: center;
  justify-content: center;
  align-content: center;
  height: 90vh;
  padding: 2rem;
  img {
    margin-top: 2rem;
    width: 200px;

    @media (max-width: 780px) {
      width: 80vw;
    }
  }

  h1 {
    display: grid;
    margin-top: 2rem;
    margin-bottom: 0.8rem;
    font-size: 1.5rem;
  }
  span {
    margin-top: 2rem;
  }
}

.go-back {
  margin-top: 1rem;
  color: var(--bs-cyan);

  &:hover {
    color: var(--bs-gray);
    cursor: pointer;
  }
}

