.container-new-album {
	width: 30%;
	max-height: 400px;

	background: var(--bs-dark);
	padding: 1rem;
	border-radius: 0.8rem;
	color: var(--bs-white);

	@media (max-width: 780px) {
		width: 92vw;
		margin: auto;
		height: 290px;
	}
}

.content-new-album {
	h3 {
		font-weight: 700;
		color: var(--bs-white);
		padding-bottom: 0.5rem;
	}

	form {
		display: grid;
		input {
			width: 100%;
			padding: 1rem 1rem;
			margin-top: 0.75rem;
			margin-bottom: 0.75rem;
			border-radius: 0.25rem;
			border: 0;
			background-color: var(--bs-gray-dark);
			box-sizing: border-box;
		}

		label {
			margin-top: 0.5rem;
		}
		span {
			margin: 0 0 1rem 0;
			color: var(--bs-red);
			font-size: 0.8rem;
		}

		button {
			margin-top: 0.75rem;

			font-size: 1rem;
			border: 0px;
			border-radius: 0.5rem;
			height: 3rem;
			color: var(--bs-white);
			background: var(--bs-teal);
			transition: filter 0.5s;
			font-weight: 500;

			&:hover {
				filter: brightness(0.8);
			}
		}
	}
}
