.container-list-album {
	width: 68%;
	border-radius: 1rem;
	padding: 1rem;
	color: var(--bs-dark);
	background-color: var(--bs-dark);
	h3 {
		color: var(--bs-white);
		margin: 0 0 1rem 0;
	}

	@media (max-width: 780px) {
		width: 92vw;
		margin: auto;
		margin-top: 2rem;
	}
	box-sizing: border-box;
}
.list-album {
	background: var(--bs-teal);
	color: var(--bs-white);
	padding: 1rem 1rem;
	display: flex;
	margin-bottom: 0.5rem;
	align-items: center;
}

.list-album-icon {
	width: 50px;
	margin-right: 1rem;
	img {
		width: 50px;
		opacity: 0.1;
	}
}
.list-album-info {
	display: grid;
	width: 100%;

	span:first-child {
		margin-bottom: 0.1rem;
	}
	span:last-child {
		color: var(--bs-white);
		font-size: 0.9rem;
		opacity: 0.8;
	}
}

.list-album-icons {
	display: flex;
	span {
		cursor: pointer;
		margin-right: 0.8rem;
		font-size: 1.2rem;

		&:hover {
			color: var(--bs-dark);
		}
	}
	span:last-child {
		color: var(--bs-red);
		font-size: 1.2rem;
		&:hover {
			color: var(--bs-dark);
		}
	}
}

.no-record {
	margin: auto;
	display: flex;
	height: 80%;
	font-size: 1.5rem;
	color: var(--bs-gray-dark);
	justify-content: center;
	align-items: center;
	text-align: center;
}
