.container-header {
	width: 60vw;
	margin: auto;

	.content-header {
		display: flex;
		align-items: center;
		margin: 1rem 2rem;

		img {
			width: 130px;
		}

		@media (max-width: 780px) {
			display: flex;
			flex-direction: column;
		}
	}
}

.content-menu {
	display: flex;
	width: 100%;
	margin: 1rem 2rem;
	justify-content: space-between;

	@media (max-width: 780px) {
		margin-top: 3rem;
		justify-content: space-around;
	}

	ul {
		list-style: none;
		display: flex;

		li {
			margin: 1rem 2rem;
		}
	}

	a {
		text-decoration: none;
		color: var(--bs-white);
		font-size: 1rem;

		&:hover {
			color: var(--bs-cyan);
		}
	}

	button {
		display: flex;
		padding: 1rem;
		border: 0px;
		border-radius: 0.5rem;
		height: 3rem;
		background: var(--bs-cyan);
		transition: filter 0.5s;
		font-weight: 500;
		font-weight: 500;
		align-items: center;
		justify-content: center;

		.btn-icon {
			font-size: 1.2em;
			margin-right: 0.3rem;
		}

		&:hover {
			filter: brightness(0.8);
		}
	}
}
