.container-user {
  width: 65vw;
  display: flex;
  margin: auto;

  @media (max-width: 780px) {
    padding: 1rem;
    width: 98vw;
    overflow-x: hidden;
  }
}

.container-content-user {
  display: flex;
  margin-top: 5rem;
  justify-content: space-between;
  width: 100%;

  @media (max-width: 780px) {
    flex-direction: column-reverse;
    display: flex;
    justify-content: space-around;
    margin-top: 0rem;
  }
}
